version: '3'

services:
 solr:
   image: ${DOCKER_IMAGE}
   restart: unless-stopped
   hostname: solr
   ports:
   - "8443"
   #   - 8000:8000
   #   - 5000:5000
   environment:
#    - JMX_ENABLED=true
#    - DEBUG=true
    - GLOBAL_WORKSPACE_solr.suggester.minSecsBetweenBuilds=3
    - LOG_log4j.logger.org.alfresco.solr.tracker.MetadataTracker=DEBUG
    - LOG_log4j.appender.file.MaxFileSize=8MB
    # for restoring from backup, uncomment following variables
#    - JAVA_OPTS_S3_ENDPOINT=-DS3_ENDPOINT=<endpoint_s3_protocol>
#    - JAVA_OPTS_S3_REGION=-DS3_REGION=<bucket_s3_region>
#    - JAVA_OPTS_S3_BUCKET_NAME=-DS3_BUCKET_NAME=<bucket_name>
#    - JAVA_OPTS_AWS_ACCESS_KEY_ID=-Daws.accessKeyId=<access_key>
#    - JAVA_OPTS_AWS_SECRET_ACCESS_KEY=-Daws.secretKey=<secret_key>
#    - ALFRESCO_SSL=secret
    - JAVA_XMX=1024M
#    - Dalfresco.secureComms.secret=mysolrsecret
#    - ALFRESCO_SECRET=mysolrsecret
    - S3_ENDPOINT=http://localstack:4566
    - S3_REGION=us-east-1
    - S3_BUCKET_NAME=bucket
    - S3_ACCESS_KEY=access_key
    - S3_SECRET_KEY=secret_key
    - S3_PATH_STYLE_ACCESS_ENABLED=true
    - RESTORE_FROM_BACKUP=false
