version: '3'

services:
  solr:
    image: ${DOCKER_IMAGE}
    restart: unless-stopped
    hostname: solr
    environment:
    - GLOBAL_WORKSPACE_solr.suggester.minSecsBetweenBuilds=3
    - CUSTOM_SCHEMA=true
    - S3_ENDPOINT=http://localstack:4566
    - S3_REGION=us-east-1
    - S3_BUCKET_NAME=bucket
    - S3_ACCESS_KEY=access_key
    - S3_SECRET_KEY=secret_key
    - S3_PATH_STYLE_ACCESS_ENABLED=true
    - RESTORE_FROM_BACKUP=false
    volumes:
    - ./schema.xml:/opt/alfresco-search-services/schema.xml
    - solr:/opt/alfresco-search-services/data

volumes:
  solr:
