version: '3'

services:
  solr:
    image: ${DOCKER_IMAGE}
    restart: unless-stopped
    hostname: solr
    environment:
    - ALFRESCO_SOLR_SUGGESTER_ENABLED=false
    - ALFRESCO_SOLR_FACETABLE_CATEGORIES_ENABLED=true
    - GLOBAL_WORKSPACE_alfresco.batch.count=10000
    - GLOBAL_ARCHIVE_alfresco.batch.count=2000
    - GLOBAL_alfresco.corePoolSize=16
    - S3_ENDPOINT=http://localstack:4566
    - S3_REGION=us-east-1
    - S3_BUCKET_NAME=bucket
    - S3_ACCESS_KEY=access_key
    - S3_SECRET_KEY=secret_key
    - S3_PATH_STYLE_ACCESS_ENABLED=true
    - RESTORE_FROM_BACKUP=false
