name: 'Continuous Integration'
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '7 0 * * SUN'
env:
  GRADLE_OPTS: >-
    -Dorg.gradle.project.eu.xenit.cloudsmith.username=${{ secrets.CLOUDSMITH_USER }} 
    -Dorg.gradle.project.eu.xenit.cloudsmith.password=${{ secrets.CLOUDSMITH_APIKEY }}    
    -Dorg.gradle.project.org.alfresco.maven.nexus.username=${{ secrets.ALFRESCO_NEXUS_USERNAME }} 
    -Dorg.gradle.project.org.alfresco.maven.nexus.password=${{ secrets.ALFRESCO_NEXUS_PASSWORD }}
jobs:
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - solr6
        task:
          - integrationTestDefault
          - integrationTestSharded
          - integrationTestShardedNonSsl
          - integrationTestNonSsl
          - integrationTestMounts
          - integrationTestXenitEndpoints
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: install docker-compose
        run: sudo apt-get install docker-ce docker-compose
      - name: Add license
        run: |
          touch ./src/integrationTest/resources/license61/license.lic
          echo ${{secrets.ALFRESCO_LICENSE61}} > ./src/integrationTest/resources/license61/license.lic
          chmod 666 ./src/integrationTest/resources/license61/license.lic
      - name: Login to Docker
        run: |
          echo '${{ secrets.HARBOR_PASSWORD }}' | docker login docker.xenit.eu --username '${{ secrets.HARBOR_USER }}' --password-stdin
      - name: Integration tests
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
        env:
          VERSIONS_TO_BUILD: ${{ matrix.version }}
        with:
          cache-read-only: false
          arguments: ${{ matrix.task }} --info
      - name: Upload Artifact
        if: success() || failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{ matrix.task }}-result
          path: /home/runner/work/**/build/reports
          retention-days: 2
  publish:
    needs: [ integration-test ]
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/heads/master') || startsWith(github.ref, 'refs/heads/release') }}
    strategy:
      matrix:
        version:
          - solr6
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
      - name: Login to docker repo
        run: |
          echo '${{ secrets.HARBOR_PASSWORD }}' | docker login docker.xenit.eu --username '${{ secrets.HARBOR_USER }}' --password-stdin
      # We have to split out publishing to public and private repo's because pushing to docker.io does not seem to work
      # without supplying DOCKER_USER and DOCKER_PASSWORD. However, supplying those environment variables breaks
      # publishing to other repositories
      - name: Publish public docker images
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          VERSIONS_TO_BUILD: ${{ matrix.version }}
        with:
          cache-read-only: false
          arguments: pushDockerImage -PincludeEnterprise=false
      - name: Publish private docker images
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
        env:
          VERSIONS_TO_BUILD: ${{ matrix.version }}
        with:
          cache-read-only: false
          arguments: pushDockerImage -PincludeCommunity=false